<?xml version="1.0"?>
<config>
    <modules>
        <LimeSoda_MobileRedirect>
            <version>1.0.0</version>
        </LimeSoda_MobileRedirect>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <LimeSoda_MobileRedirect>
                    <files>
                        <default>LimeSoda_MobileRedirect/LimeSoda_MobileRedirect.csv</default>
                    </files>
                </LimeSoda_MobileRedirect>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <limesoda_mobileredirect>
                        <class>limesoda_mobileredirect/observer</class>
                        <method>controllerActionPredispatch</method>
                    </limesoda_mobileredirect>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <global>
        <helpers>
            <limesoda_mobileredirect>
                <class>LimeSoda_MobileRedirect_Helper</class>
            </limesoda_mobileredirect>
        </helpers>
        <models>
            <limesoda_mobileredirect>
                <class>LimeSoda_MobileRedirect_Model</class>
            </limesoda_mobileredirect>
        </models>
    </global>
</config>